# Bonus: Temperature Analysis I

In [1]:
#Import Dependencies

import pandas as pd
from datetime import datetime as dt

In [3]:
# "tobs" is "temperature observations"

df = pd.read_csv('Data/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [7]:
# Convert the date column format from string to datetime

df['date'] = pd.to_datetime(df['date'])

In [8]:
# Set the date column as the DataFrame index

indexed_df = df.set_index('date')
indexed_df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [ ]:
# Import Dependency

from scipy import stats

In [ ]:
# Filter data for desired months

filtered_df = df['date']

In [ ]:
# Identify the average temperature for June

In [ ]:
# Identify the average temperature for December

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis