# Bonus: Temperature Analysis I

In [1]:
#Import Dependencies

import pandas as pd
from datetime import datetime as dt
import warnings
warnings.filterwarnings('ignore')

In [2]:
# "tobs" is "temperature observations"

df = pd.read_csv('Data/hawaii_measurements.csv')
temp_df = df.dropna(how='any')
temp_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
5  USC00519397  2010-01-07  0.06    70

In [3]:
# Convert the date column format from string to datetime

temp_df['date'] = pd.to_datetime(temp_df['date'])

In [4]:
# Set the date column as the DataFrame index

indexed_df = temp_df.set_index('date')
indexed_df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-07  USC00519397  0.06    70

### Compare June and December data across all years

In [5]:
# Import Dependency

from scipy import stats

In [6]:
# Filter data for desired months

june_df = indexed_df[indexed_df.index.month == 6]
dec_df = indexed_df[indexed_df.index.month == 12]

In [7]:
# Identify the average temperature for June

june_avg = round(june_df['tobs'].mean(), 2)
june_avg

74.89

In [8]:
# Identify the average temperature for December

dec_avg = round(dec_df['tobs'].mean(), 2)
dec_avg

70.93

In [9]:
# Create collections of temperature data

june_list = june_df['tobs'].to_list()
dec_list = dec_df['tobs'].to_list()

In [10]:
# Run paired t-test

t_val, p_val = ttest_result = stats.ttest_ind(june_list, dec_list)
print(f"t-stat: {t_val}, p_value: {p_val}")

t-stat: 30.865349991562194, p_value: 9.8415346259008e-182

### Analysis

Based on the resulting t-value, there is a significant difference between the means for the temperature in Hawaii between June and December.  Since we are dealing with two individual data sets, a paired t-test is used.